// //Primary Color
// $primary: #f7e8f6;

// //Secondary Color
// $secondary: #e5b0ea;

// //Background Color
// $background: #f7e8f6;

// //Accent Color
// $accent: #85144b;

// $primary: rgba(15, 15, 109, 1);
// $secondary: rgba(255, 173, 196, 1);
// $accent: rgba(186, 94, 255, 1);
// $tertiary: rgba(254, 95, 85, 1);
// $background: rgba(255, 245, 244, 1);

// $primary: rgba(230, 57, 70, 1);
// $secondary: rgba(241, 250, 238, 1);
// $accent: rgba(168, 218, 220, 1);
// $background: rgba(69, 123, 157, 1);
// $tertiary: rgba(29, 53, 87, 1);

// $primary: rgba(1, 22, 39, 1);
// $secondary: rgba(253, 255, 252, 1);
// $background: rgba(46, 196, 182, 1);
// $accent: rgba(231, 29, 54, 1);
// $tertiary: rgba(255, 159, 28, 1);

// $secondary: rgba(255, 255, 255, 1);
// $accent: rgba(132, 220, 198, 1);
// $tertiary: rgba(165, 255, 214, 1);
// $background: rgba(255, 166, 158, 1);
// $primary: rgba(255, 104, 107, 1);

// $tertiary: rgba(255, 231, 76, 1);
// $background: rgba(255, 89, 100, 1);
// $primary: rgba(255, 255, 255, 1);
// $accent: rgba(107, 241, 120, 1);
// $secondary: rgba(53, 167, 255, 1);

$background: rgba(35, 25, 66, 1);
$primary: rgba(94, 84, 142, 1);
$secondary: rgba(159, 134, 192, 1);

$accent: #bf2b50;
$tertiary: rgba(224, 177, 203, 1);

$black: #111111;
$white: #eee;
