@import "../var-mix/variables";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
#aboutMeOuter {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0vh;
  z-index: 9999;
}

#aboutMeInner {
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.aboutMeTitle {
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  color: $accent;
  padding: 15px 25px;
}

.aboutMeParagraph {
  text-indent: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  hyphens: auto;
  padding: 5px 25px;
  color: #111111;
}

.aboutMePic {
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#About-Me {
  opacity: 0;
  visibility: hidden;
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

#closeBtn {
  width: 20px;
  position: absolute;
  top: 33.333px;
  right: 105px;
}

#closeBtnImg {
  width: 100%;
}
