@import "../var-mix/_variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
@import "../var-mix/mixin";
* {
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  &_border {
    background: rgba(0, 0, 0, 0);
    border: 5px solid $accent;
    width: 250px;
    height: 60px;

    border-radius: 10px;
    position: absolute;
    transition: 0.4s;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      border: 5px solid $tertiary;
      transform: translateY(-5px);
    }
    &:active {
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
      transform: translateY(-1px);
    }
  }
  &_inner {
    background-color: rgba(247, 232, 246, 0.8);
    width: 240px;
    height: 50px;
    border-radius: 5px;
    @include posCenter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.4s;
    color: $primary;
  }
  &_inner:hover {
    background-color: rgba(238, 238, 238, 0.9);
    transform: translateY(-5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}

#left-btn-inner {
  width: 310px;
}
#left-btn-outer {
  top: 363px;
  width: 320px;
  color: $tertiary;
}

#linkedin {
  transform: translateX(115px);
  width: 180px;
  &-inner {
    width: 170px;
  }
  &:hover {
    transform: translate(115px, -5px);
  }
  &:active {
    transform: translate(115px, -1px);
  }
  animation-name: linkedin;
  animation-duration: 0.5s;
  animation-delay: 2.35s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
#github {
  transform: translateX(-115px);
  width: 180px;
  &-inner {
    width: 170px;
  }
  &:hover {
    transform: translate(-115px, -5px);
  }
  &:active {
    transform: translate(-115px, -1px);
  }
  animation-name: github;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
#resume {
  transform: translateX(-330px);
  width: 180px;
  &-inner {
    width: 170px;
  }
  &:hover {
    transform: translate(-330px, -5px);
  }
  &:active {
    transform: translate(-330px, -1px);
  }
  animation-name: resume;
  animation-duration: 0.5s;
  animation-delay: 1.85s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

#handshake {
  transform: translateX(330px);
  width: 180px;
  &-inner {
    width: 170px;
  }
  &:hover {
    transform: translate(330px, -5px);
  }
  &:active {
    transform: translate(330px, -1px);
  }
  animation-name: handshake;
  animation-duration: 0.5s;
  animation-delay: 2.6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
@keyframes resume {
  0% {
    transform: translate(-330px, 100px);
    opacity: 0;
  }
  80% {
    transform: translate(-330px, 10px);
  }
  100% {
    transform: translate(-330px, 0);
  }
}
@keyframes github {
  0% {
    transform: translate(-115px, 100px);
    opacity: 0;
  }
  80% {
    transform: translate(-115px, 10px);
  }
  100% {
    transform: translate(-115px, 0);
  }
}
@keyframes linkedin {
  0% {
    transform: translate(115px, 100px);
    opacity: 0;
  }
  80% {
    transform: translate(115px, 10px);
  }
  100% {
    transform: translate(115px, 0);
  }
}
@keyframes handshake {
  0% {
    transform: translate(330px, 100px);
    opacity: 0;
  }
  80% {
  }
  100% {
    transform: translate(330px, 0);
  }
}
