@import "../var-mix/_variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
@import "../var-mix/mixin";
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

.btn {
  //Small anchor reset
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

  &_border {
    //Border Box Styles
    height: 75px;
    width: 200px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid $accent;
    padding: 3px;
    border-radius: 10px;
    transition: 0.3s;
    @include for-size(phone-only) {
      transform: translateY(-20px);
    }

    //Border Box Allignment
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      //Border Box Active Style
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      border: 5px solid $tertiary;
      transform: translateY(-5px);
    }
    &:active {
      //Border Box Clicked Style
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
      transform: translateY(-1px);
    }
  }
  &_inner {
    //Inner Box Styles
    background-color: rgba(247, 232, 246, 0.8);
    width: 100%;
    min-height: 100%;
    border-radius: 5px;
    padding: 10px;

    //Alignment
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    //Font Styles
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.3s;
    color: $primary;
    @include for-size(phone-only) {
      font-size: 1.5rem;
    }
  }
  &_inner:hover {
    //Inner Box Hover Styles
    background-color: rgba(238, 238, 238, 0.9);
    transform: translateY(-5);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}

#empty-btn {
  max-width: 40px;
  max-height: 50px;
}

#right-btn {
  height: 100px;
  margin-top: 50px;
}

#left-btn {
  height: 75px;
  width: 200px;
  transform: translateY(-4vh);
}

#linkedin {
  @include for-size(phone-only) {
    width: 300px;
  }

  animation-name: linkedin;
  animation-duration: 0.5s;
  animation-delay: 2.35s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
#github {
  @include for-size(phone-only) {
    width: 300px;
  }

  animation-name: github;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
#resume {
  @include for-size(phone-only) {
    width: 300px;
  }

  animation-name: resume;
  animation-duration: 0.5s;
  animation-delay: 1.85s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

#handshake {
  @include for-size(phone-only) {
    width: 300px;
  }

  animation-name: handshake;
  animation-duration: 0.5s;
  animation-delay: 2.6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
@keyframes resume {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes github {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes linkedin {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes handshake {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
