@import "../var-mix/_variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
@import "../var-mix/mixin";
* {
  margin: 0;
  padding: 0;
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  &_border {
    background-color: $secondary;
    width: 250px;
    height: 60px;

    border-radius: 10px;
    position: absolute;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      background-color: $primary;
    }
    &:active {
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    }
  }
  &_inner {
    background-color: $background;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    @include posCenter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.2;
    color: $accent;
  }
}
// button {
//   all: unset;
// }

// .btn-border {
//   max-width: 20rem;
//   border: 15px solid cyan;
//   border-radius: 10px;
//   padding: 10px;
//   transition: 0.5s;
// }

// .btn-border:hover {
//   border: 15px solid blue;
//   cursor: pointer;
//   box-shadow: 0px 15px 10px rgba(30, 30, 30, 0.5);
//   & .btn {
//     background-color: blue;
//     color: cyan;
//     box-shadow: 0px 15px 50px rgba(30, 30, 30, 0.3);
//   }
// }

// .btn-border:active {
//   box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
// }

// button {
//   box-sizing: border-box;
//   &.btn {
//     width: 100%;
//     text-align: center;
//     color: blue;
//     background-color: cyan;
//     border-radius: 10px;
//     padding: 15px 25px;
//     font-family: "Roboto Mono", monospace;
//     font-weight: bold;
//     font-size: 1.3rem;
//     letter-spacing: 0.1rem;
//     margin: 0 auto;
//   }
// }
