@import "../var-mix/variables";

.imgButtonContainer {
  width: 450px;
}

.profilePic {
  width: 100%;
  overflow: hidden;
  background-clip: polygon(10 10, 30 30);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
  position: relative;
  bottom: 100px;
  width: 450px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
