@import "../var-mix/variables";
@import "../var-mix/mixin";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");

.textBox {
  background-color: $primary;
  height: 475px;
  width: 475px;
  border-bottom-right-radius: 10px;
  color: $white;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  @include for-size(phone-only) {
    border-bottom-left-radius: 10px;
    height: 435px;
    z-index: 5000;
    transform: translateY(-10px);
  }
  @include for-size(desktop-up) {
    border-top-right-radius: 10px;
  }
}

.textBox-center {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  &-top {
    display: block;
    font-family: "Roboto Mono", monospace;
    font-size: 4.188vw;
    margin-top: 68px;
    text-align: center;
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.1em;
    border-right: 0.15em solid $accent;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    animation: typing 2.5s steps(40, end), cursor 0.75s step-end infinite;
    @include for-size(desktop-up) {
      font-size: 3.3vw;
    }
    @include for-size(phone-only) {
      font-size: 8vw;
    }
  }
  &-bottom {
    display: block;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 58px;
    text-align: center;
    font-size: 2.3vw;
    font-weight: normal;
    animation-name: ComeIn;
    animation-duration: 0.9s;
    animation-fill-mode: both;
    animation-delay: 2.35s;
    animation-timing-function: ease-in-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    @include for-size(desktop-up) {
      font-size: 2vw;
    }
    @include for-size(phone-only) {
      font-size: 5vw;
    }
  }
}

.secondary-heading {
  color: $secondary;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  font-size: 2.75vw;
  letter-spacing: 2px;
  text-align: center;

  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  @include for-size(desktop-up) {
    font-size: 2.5vw;
  }
  @include for-size(phone-only) {
    font-size: 5vw;
  }
}
#name {
  color: $tertiary;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

@keyframes ComeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  80% {
    opacity: 100;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $accent;
  }
}
