@import "../var-mix/variables";
.webpage {
  width: 100vw;
  height: 100vh;
  background-color: $background;
  overflow: hidden;
}
.topContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.bottomContainers {
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
