@import "../var-mix/variables";
.webpage {
  width: 100vw;
  height: 100vh;
  background-color: $background;
}
.topContainers {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.bottomContainers {
  width: 100vw;
  height: 17.5vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 10px;
}
